body {
  line-height: 1.5;
  background: url(../img/grey.png);
}
.container-fluid {
  min-width: 500px;
  overflow: hidden;
}
html, body, input, select, textarea {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, sans-serif;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
h1, h2, h3, h4 {
  font-family: "MetaPro", "Lucida Grande", sans-serif;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  }
h2 {
  margin-bottom: 8px;
  color: #444;
  border-bottom: solid 1px #999;
}
h3 {
  color: #68218F;
  border-bottom: solid 1px #999;
}
h4 {
  margin-top: 6px;
}
.inner-content>h2 {
    margin-top: 30px;
}
.steps .span8 h3 {
    border-bottom: none;
    color: #444;
    font-size: 20px;
}
.steps img {
  max-width: 50%;
  border: solid 2px #333;
  box-shadow: 0 0 10px #333;
  display:block;
  margin: 5px auto;
}
.big-link a, .big-link span {
    vertical-align: middle;
}
.label {
    margin-right: 8px;
}
.steps .row-fluid {

  border-top: solid 1px #999;
  margin-bottom: 30px;
}
.steps {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
}
.big {
    font-size: 2em;
}
.big li { line-height: 2; margin: 10px 0;  margin-left: 20px; list-style: none;}

.content {
    padding: 20px;
    border-right: solid 2px #bbb;
    border-left: solid 2px #bbb;
    background: rgba(255, 165, 0, 0.14);
}
.inner-content {
    z-index: 2;
    background: rgba(255, 255, 255, 0.3);
    padding: 2px 10px;
}


.row { }
.alert h2 { font-size: 14px; margin: 3px 0; padding: 3px 0; line-height: 15px; }

#outputdiv {
  padding: 20px;
  border: solid 1px #ddd;
  border-radius: 2px;
  min-height: 40px;
  margin: 20px auto;
  box-shadow: 0 0 5px #888;
  background: #fafafa;
}

textarea {

  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  width: 98%;
}

hr.minor {
  padding: 3px 0;
  margin: 1px 0;
}



/* Google Prettify */
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}